*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-wrapper {
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 50px;
  background-color: #4056b4;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
}

.search-form {
  display: flex;
  height: 30px;
  width: 300px;
  border-radius: 3px;
  overflow: hidden;

  &:focus-within {
    box-shadow: 0 0 0 2px #6090e2;
  }

  input {
    border: none;
    flex-grow: 1;
    padding: 0 5px;

    &:focus-visible {
      outline: none;
    }
  }

  button {
    border: none;
    width: 30px;
    background-color: #f1eff1;
    cursor: pointer;
  }
}

.gallery {
  padding: 20px;
  display: grid;
  gap: 20px;

  @media screen and (min-width: 500px) {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

.image-thumb {
  height: 15vw;
  // Добавить брейкпоинты
  @media screen and (max-width: 500px) {
    height: 65vw;
  }
}

.info {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 10px;
  padding: 10px 20px;
}

.info-item {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  line-height: 1.5;
}

.load-more {
  display: none;
}
